<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ty.highway.highwaysystem"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activity.basic.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.check.TaskListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.TaskDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.TunnelDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.basic.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.basic.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.CheckListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.AddDamageActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.LookDamageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.HistroyDamageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.DamageListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.CheckRecordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.AddTaskActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.check.TreeListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.machine.MachineTreeListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.machine.MachineLookDamageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.machine.MachineCheckRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.machine.MachineTaskListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.machine.MachineAddDamageActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.machine.MachineDamageListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.other.ShowImageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.activity.other.VideoSurfaceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".support.olddata.UploadOldDataActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.ty.highway.frameworklibrary.support.zxing.CaptureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.ty.highway.frameworklibrary.support.zxing.BaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="com.ty.highway.frameworklibrary.support.zxing.ShowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
        </activity>

        <service android:name=".system.service.BaseDataService"/>
        <service android:name=".system.service.BaseDataMachineService"/>
        <service android:name=".system.service.AppDownloadService"/>
        <service android:name=".system.service.HistoryDamageService"/>
    </application>

</manifest>
